# This is a basic workflow to help you get started with Actions

name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '16'
      
      - name: download
        run: wget https://hub.spigotmc.org/jenkins/job/BuildTools/lastSuccessfulBuild/artifact/target/BuildTools.jar
      
      - name: build
        run: java -jar BuildTools.jar --rev 1.17.1
        
      - name: ls
        run: ls
        
      - uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: spigot-1.17.1.jar
